<DOCTPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Rossana Rodriguez</title>
  <style>
    body{
      background-color:#19a0aab0;
    }
    div{
      background-color: white;
      border: ipx solid black;
      padding: 12px;
      width: 70%;
      margin: 0 auto;
    }
    fieldset{
      margin-bottom: 12xp;
    }
    legend{
      background-color: #19a0aab0;
      padding: 5px;
      border-radius: 20px;
      font-weight: bold;
      
    }
    img{
        border-radius: 50%;
        margin-bottom: 20xp;
        margin-right: 70xp;
      }
  
  </style>
</head>
<body>
  <div>
    <img src="stylesheets/rossana.jpeg" width="130" height="150" >
    <h1>Rossana Saharay De Los Angeles Rodriguez Laya</h1>
    <p>Sector Aníbal Pérez Ortiz Estado Guárico</p>
    <p>Teléfono:(0424).891.2235</p>
    <fieldset>
      <legend> Datos generales </legend>
      <ul>
        <li>Fecha de Nacimiento: 19/01/2002 </li>
        <li>Cédula de identidad: 28.648.732 </li>
        <li>Correo electrónico: rossana19rl@gmail.com</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Formación Académica</legend>
      <ul>
        <li>Primaria: U.E.N "DR Jose Guzmán Bastardo" 2008-2011, E.B"José Antonio Anzoátegui" 2011-2014
        </li>
        <li>Bachillerato:U.E.N"Bicentenario 5 De Julio De 1811"2014-2017, U.E.N "Mireya De Jesús Gómez De Mata" 2017-2019</li>
        <li>Cursando 4to Semestre Ingeniería en informática: Universidad Nacional Experimental "Rómulo Gallegos"2019-Actualidad </li>
      </ul>
  
    </fieldset>
    <fieldset>
      <legend>Experiencias Laborales</legend>
      <ul>
        <li>Cajera: Inversiones SAAP, Paletería,C.A 03/01/2019-20/04/20 </li>
        <li>Asistente Administrativo: Empresa Socialista de Riego Rio Tiznados, S.A 25/04/19-Actualidad</li>
      </ul>
    </fieldset>
    <Fieldset>
      <legend>Cursos realizados</legend>
      <ul>
        <li>Curso de Epilación,Depilación, Visagismo de cejas y colocación de pestañas punto a punto 02/10/2020</li>
      </ul>
    </Fieldset>

  </div>
</body>
</html>
